.breadcrumbs{
  padding-top: 10px;
}

/* Index Page  */
.navbar-brand, #mainNav .navbar-toggler {
      font-size: 20px;
      font-weight: 800;
      padding: 13px;
      text-transform: uppercase;
      background-color: red;
  }
    header{
      margin-top: 0px;
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .site-heading{
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 60px;
    }
    .site-heading h1{
      color: red;
      font-size: 70px;
      text-align: right;
      text-decoration: underline;
      text-decoration-color: hsla(5, 100%, 50%, 1.0);
    }
    .site-heading p{
      color: darkturquoise;
      font-size: 25px;
      font-weight: 500;
      text-align: right;
    }
  .post-subtitle, .post-meta{
    font-weight: 100;
    font-style: italic;
    font-family: cursive;

  }
  .card, .meta{
    border: 0;
    background: ghostwhite;
  }
/* EndIndex Page */

/* Blog Detail */
.masthead{
  background:radial-gradient(red,skyblue,red);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
 }

 .blog-body{
  text-align: left;
  text-indent: 20px;
  text-decoration-style: wavy;
 }

 #site-heading > h1{
  color:  white;
  padding-top: 20px;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
 }
 .subheading{
  color: white;
  font-weight: 200;
 }
 .blog-body>text{
  font-size: 14px;
  font-style: normal;
  list-style: persian;
  text-overflow: ellipsis;
  padding: 1px 2px 3px;
 }
 /* EndBlog Detail */

/*Create and Edit Blog Post*/
.create-form {
	    width: 100%;
	    max-width: 100%;
	    padding: 15px;
	    margin: auto;
	}
.create-form > .form-control{
  color: black;
  background-color: lightgrey;
}

.submit-button{
		max-width: 200px;
	}

.image {
	  opacity: 1;
	  transition: .5s ease;
	  backface-visibility: hidden;
	}

.middle {
	  transition: .5s ease;
	  opacity: 0;
	  position: absolute;
	  text-align: center;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);

}
.image-group{
		position: relative;
		text-align: center;
		cursor:pointer;
}

.image-group:hover .image {
  	opacity: 0.3;
}

.image-group:hover .middle {
  	opacity: 1;
}

.text {
	  margin: auto;
	  background-color: #4CAF50;
	  color: white;
	  font-size: 15px;
	  padding: 15px;
}
