{% extends 'base.html'%}
{% load humanize %}

{% block title %} | {{ blog.title | truncatechars:30 }} {% endblock %}

{% block breadcrumb %}<li class="breadcrumb-item" aria-current="page">blog</li>
<li class="breadcrumb-item" aria-current="page">{{ blog.tag }}</li>
<li class="breadcrumb-item active" aria-current="page">{{ blog.title | truncatechars:30 }}</li>{% endblock %}


{% block content %}
<header class="masthead">
    <div class="overlay"></div>
      <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading" id="site-heading">
                <h1> The Kuks </h1>
              </div>
            </div>
          </div>
      </div>
    </div>
</header>

<hr class="border p-2 border-success bg-success">
<div class="container">
  <div class="row">
    <div class="col-8 jumbotron mx-auto">
      <h2 class="post-title text-black font-weight-bold">{{blog.title}}</h2>
      <p>{{blog.pub_date }}</p>
      {% if blog.image %}
      <img  class="img-fluid" height="200" width="550px" src="{{blog.image.url}}" alt="card image cap">
      {% else %}{% endif %}

      <div class="post-preview">
        <h5 class="post-subtitle">
          {{blog.highlight}}
          <a href="{% url 'edit-blog' blog.slug %}">Edit Post</a>
        </h5><hr>
        {% if blog.youtube_src %}
        <iframe width="650" height="315" src="https://www.youtube.com/embed/{{ blog.youtube_src }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}
       
        <section class="blog-body"> 
          <text class="card-body p-4">{{ blog.body | linebreaks }}</text>
        </section>
      </div>
    </div>
    <div class="col-4 bg-success border border-rounded">
    </div>
  </div>
</div>
{% endblock %}
