{% extends 'base.html'%}
{% load static %}

{% block  header %}
  {% include "snippets/header.html" %}
{% endblock %}

{% block content %}
  <!-- Main Content -->
  <div class="row mt-5 mx-auto">
    <div class="col-lg-8 col-md-8 col-sm-12">
        {% for post in blog %}
        <div class="card">
          <div class="card-header">
            <h2 class="post-title p-2" style="text-transform:uppercase">
              {{post.title | truncatechars:50}}
            </h2>
            <div class="post-meta mb-2">
              posted
              on <span class="font-weight-bold text-info"> {{post.pub_date}}</span>
            </div>
            <div class="card-img">
              <img class="img-fluid" src="{{post.image.url}}" width="300px" height="200px" loading="lazy">
            </div>  
            </a>
          </div>
          <div class="post-subtitle card-body p-4">
              {{post.body | truncatechars:250}}
              <div class="clearfix">
                <a class=" btn btn-danger float-right" href="{% url 'detail' post.slug %}">Read more &rarr;</a>
              </div>
          </div>
        </div>
        <hr>
        {% endfor %}
        <!-- Pager -->
        <div class="clearfix mt-2">
          <a class=" btn btn-primary float-right" href="{# url 'next' #}">Older blog &rarr;</a>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
      <div class="card">
        <div class="card-header btn btn-outline-warning">Related Blog</div>
        <div class="card-body meta">
          <ul class="list-inline">
            <li><a href="" class="nav-link btn btn-outline-success mb-2">Artificial Intelligence</a></li>
            <li><a href="" class="nav-link btn btn-outline-danger mb-2">Data Science</a></li>
            <li><a href="" class="nav-link btn btn-outline-success mb-2">Python Programming</a></li>
            <li><a href="" class="nav-link btn btn-outline-danger mb-2">Django Framework</a></li>
            <li><a href="" class="nav-link btn btn-outline-success">Javascript</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
